body {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: khaki;
}

.im{
  max-width: 100%;
  min-width: 10%;
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4
    }
}

.card{
  background-color: palegoldenrod;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }

